<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <title>Liste Avions / Passagers </title>
</head>
<body>
<div class="alert alert-success">
    <p th:if="${successMessage}" th:text="${successMessage}"></p>
</div>
<h3 class="m-2 center">Liste des Avions</h3>
<table class="table">
    <thead>
    <tr>
        <th>Code</th>
        <th>Constructeur</th>
        <th>Modèle</th>
        <th>Passagers</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-primary" th:each="avion : ${avions}">
        <td th:text="${avion.code}"></td>
        <td th:text="${avion.constructeur}"></td>
        <td th:text="${avion.getModel}"></td>
        <td>
            <ul>
                <li th:each="passager : ${avion.getLstPassagers}">
                    <span th:text="${passager.nom + ' ' + passager.prenom}"></span>
                </li>
            </ul>
        </td>
        <td>
            <form th:action="@{'/debarquer/' + ${avion.idAvion}}" method="post">
                <button class="btn btn-outline-primary" type="submit">Débarquer</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/avions/' + ${avion.idAvion} + '/deplacer'}" method="post">
                <button class="btn btn-outline-primary" type="submit">Envoyer vers un autre aéroport</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<div class="m-5">
<h2>Liste des personnes sans avion</h2>
<table class=" table table-sm">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
        <th>Avion</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="personne : ${toutesLesPersonnes}">
        <td th:text="${personne.nom}"></td>
        <td th:text="${personne.prenom}"></td>
        <td th:text="${personne.age}"></td>

        <td>
            <form th:object="${personne}" th:action="@{'/embarquer/' + ${personne.idPersonne}} " method="post">
                <select name="avionId">
                    <option th:each="avion : ${avions}" th:value="${avion.idAvion}" th:text="${avion.code}"></option>
                </select>
                </td>
        <td>
            <button class="btn btn-outline-success btn-sm" type="submit">Embarquer</button>
        </td>
            </form>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>